pom-root/.project
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
rest-tool/.mvn/*
grpc-tool/target/*
grpc-tool/.classpath
grpc-tool/.factorypath
grpc-tool/.settings/*
